<a href="https://colab.research.google.com/github/Terabyte007/Assignments/blob/main/Week_5_Applied_Learning_Assignments_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler
import re

In [3]:
from google.colab import files
uploaded = files.upload()

Saving job_change_data.csv to job_change_data.csv

In [4]:
df = pd.read_csv('job_change_data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2129 entries, 0 to 2128
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             2129 non-null   int64
 1   city                    2129 non-null   object
 2   city_development_index  2129 non-null   float64
 3   gender                  1621 non-null   object
 4   relevent_experience     2129 non-null   object
 5   enrolled_university     2098 non-null   object
 6   education_level         2077 non-null   object
 7   major_discipline        1817 non-null   object
 8   experience              2124 non-null   object
 9   company_size            1507 non-null   object
 10  company_type            1495 non-null   object
 11  last_new_job            2089 non-null   object
 12  training_hours          2129 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 216.4+ KB

In [5]:
print(df.columns.tolist())

['enrollee_id', 'city', 'city_development_index', 'gender', 'relevent_experience', 'enrolled_university', 'education_level', 'major_discipline', 'experience', 'company_size', 'company_type', 'last_new_job', 'training_hours']

In [6]:
print(df.dtypes)

enrollee_id                 int64
city                       object
city_development_index    float64
gender                     object
relevent_experience        object
enrolled_university        object
education_level            object
major_discipline           object
experience                 object
company_size               object
company_type               object
last_new_job               object
training_hours              int64
dtype: object

In [7]:
# Show the first 3 rows
print(df.head(3))

   enrollee_id      city  city_development_index  gender  \
0        32403   city_41                   0.827    Male
1         9858  city_103                   0.920  Female
2        31806   city_21                   0.624    Male

       relevent_experience enrolled_university education_level  \
0  Has relevent experience    Full time course        Graduate
1  Has relevent experience       no_enrollment        Graduate
2   No relevent experience       no_enrollment     High School

  major_discipline experience company_size company_type last_new_job  \
0             STEM          9          <10          NaN            1
1             STEM          5          NaN      Pvt Ltd            1
2              NaN         <1          NaN      Pvt Ltd        never

   training_hours
0              21
1              98
2              15

In [10]:
df.isna().sum()

enrollee_id                 0
city                        0
city_development_index      0
gender                    508
relevent_experience         0
enrolled_university        31
education_level            52
major_discipline          312
experience                  5
company_size              622
company_type              634
last_new_job               40
training_hours              0
dtype: int64

In [45]:
# Define a mapping from company size strings to numeric levels
size_mapping = {
    '<10': 1,
    '10-49': 2,
    '50-99': 3,
    '100-500': 4,
    '500-999': 5,
    '1000-4999': 6,
    '5000-9999': 7,
    '10000+': 8
}

# Apply the mapping to create a numeric column
df['company_size_num'] = df['company_size'].map(size_mapping)

# Filter rows based on conditions
filtered_df = df[
    (df['city_development_index'] > 0.8) &
    (df['company_size_num'] > 3)
]

# Display the result
print(" Filtered rows where City Development Index > 0.8 and Company Size > '50-99':")
print(filtered_df.head())

âœ… Filtered rows where City Development Index > 0.8 and Company Size > '50-99':
    enrollee_id      city  city_development_index gender  \
4         27724  city_103                   0.920   Male
13        24372   city_98                   0.949    NaN
21        16001  city_103                   0.920    NaN
36        22139  city_103                   0.920   Male
37        19644   city_61                   0.913   Male

        relevent_experience enrolled_university education_level  \
4   Has relevent experience       no_enrollment        Graduate
13  Has relevent experience       no_enrollment         Masters
21  Has relevent experience       no_enrollment        Graduate
36  Has relevent experience    Part time course        Graduate
37  Has relevent experience       no_enrollment        Graduate

   major_discipline experience company_size company_type last_new_job  \
4              STEM        >20       10000+      Pvt Ltd           >4
13             STEM          4      100-500      Pvt Ltd            1
21             STEM          7       10000+          NaN            1
36             STEM        >20      100-500      Pvt Ltd           >4
37             STEM        >20       10000+      Pvt Ltd           >4

    training_hours  experience_num  company_size_min  last_new_job_num  \
4               72            20.1           10000.1               4.1
13             134             4.0             100.0               1.0
21              44             7.0           10000.1               1.0
36               8            20.1             100.0               4.1
37             145            20.1           10000.1               4.1

    experience_gap  city_development_index_normalized  company_size_num
4             16.0                           0.942116               8.0
13             3.0                           1.000000               4.0
21             6.0                           0.942116               8.0
36            16.0                           0.942116               4.0
37            16.0                           0.928144               8.0

In [46]:
# Define the company size categories you're interested in
large_sizes = ['10000+', '1000-4999', '100-500', '5000-9999', '500-999', '50-99']

# Filter the DataFrame
filtered_df = df[
    (df['city_development_index'] > 0.8) &
    (df['company_size'].isin(large_sizes))
]

# Print the number of matching rows
print(f"Matching rows: {len(filtered_df)}")

Matching rows: 831

In [15]:
print(filtered_df.head())

    enrollee_id      city  city_development_index gender  \
4         27724  city_103                   0.920   Male
13        24372   city_98                   0.949    NaN
17         7463   city_13                   0.827   Male
21        16001  city_103                   0.920    NaN
26         9548  city_114                   0.926   Male

        relevent_experience enrolled_university education_level  \
4   Has relevent experience       no_enrollment        Graduate
13  Has relevent experience       no_enrollment         Masters
17  Has relevent experience       no_enrollment         Masters
21  Has relevent experience       no_enrollment        Graduate
26  Has relevent experience       no_enrollment         Masters

   major_discipline experience company_size company_type last_new_job  \
4              STEM        >20       10000+      Pvt Ltd           >4
13             STEM          4      100-500      Pvt Ltd            1
17  Business Degree          2        50-99      Pvt Ltd            1
21             STEM          7       10000+          NaN            1
26             STEM        >20        50-99      Pvt Ltd           >4

    training_hours
4               72
13             134
17              31
21              44
26              65

**Question 2**

In [ ]:
# Select specific columns
selected_columns = ['experience', 'education_level']

# Use iloc to get the first 10 rows of those columns
subset_df = df.loc[:, selected_columns].iloc[:10]

# Display the result
print(subset_df)

  experience education_level
0          9        Graduate
1          5        Graduate
2         <1     High School
3         11         Masters
4        >20        Graduate
5         10         Masters
6         <1        Graduate
7        >20        Graduate
8         14        Graduate
9          3        Graduate

Question **3**

In [16]:
# Group by 'relevent_experience' and calculate mean of 'city_development_index'
avg_cdi_by_experience = df.groupby('relevent_experience')['city_development_index'].mean()

# Display the result
print(avg_cdi_by_experience)

relevent_experience
Has relevent experience    0.831000
No relevent experience     0.809828
Name: city_development_index, dtype: float64

Question **4**

In [17]:
# Group by 'company_size' and count unique values in 'last_new_job'
unique_job_counts = df.groupby('company_size')['last_new_job'].nunique()

# Display the result
print(unique_job_counts)

company_size
100-500      6
1000-4999    6
10000+       6
50-99        6
500-999      6
5000-9999    6
<10          6
Oct-49       6
Name: last_new_job, dtype: int64

Question **5**

In [18]:
# Frequency distribution of 'company_type'
company_type_counts = df['company_type'].value_counts(dropna=False)

# Display the result
print(company_type_counts)

company_type
Pvt Ltd                1141
NaN                     634
Public Sector           127
Funded Startup           97
Early Stage Startup      65
NGO                      53
Other                    12
Name: count, dtype: int64

Question **6**

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2129 entries, 0 to 2128
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   enrollee_id             2129 non-null   int64
 1   city                    2129 non-null   object
 2   city_development_index  2129 non-null   float64
 3   gender                  1621 non-null   object
 4   relevent_experience     2129 non-null   object
 5   enrolled_university     2098 non-null   object
 6   education_level         2077 non-null   object
 7   major_discipline        1817 non-null   object
 8   experience              2124 non-null   object
 9   company_size            1507 non-null   object
 10  company_type            1495 non-null   object
 11  last_new_job            2089 non-null   object
 12  training_hours          2129 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 216.4+ KB

In [28]:
# Identify numerical columns
numerical_cols = df.select_dtypes(include=['int64', 'float64']).columns

# Find numerical columns with missing values
missing_before = df[numerical_cols].isnull().sum()
affected_cols = missing_before[missing_before > 0]

# Fill missing values with the mean and report
if affected_cols.empty:
    print(" No numerical columns have missing values.")
else:
    print(" Filling missing values with column means:\n")
    for col, count in affected_cols.items():
        mean_val = df[col].mean()
        df[col].fillna(mean_val, inplace=True)
        print(f"â€¢ {col}: {count} missing values filled")

 No numerical columns have missing values.

**Question 7**

In [21]:
# Record original dataset size
original_rows = df.shape[0]

# Set threshold for missing values (50% of columns)
threshold = df.shape[1] * 0.5

# Identify rows to be dropped
rows_to_drop = df[df.isnull().sum(axis=1) > threshold]

# Capture enrollee_id of dropped rows
dropped_ids = rows_to_drop['enrollee_id'].tolist()

# Drop the rows
df_cleaned = df.dropna(thresh=threshold)

# Report impact
new_rows = df_cleaned.shape[0]
dropped_rows = original_rows - new_rows

# Print summary
print(f" Dropped {dropped_rows} rows where more than 50% of data was missing.")
print(f" Dataset reduced from {original_rows} to {new_rows} rows.")
print(" Enrollee IDs of dropped rows:")
print(dropped_ids)

 Dropped 2 rows where more than 50% of data was missing.
 Dataset reduced from 2129 to 2127 rows.
 Enrollee IDs of dropped rows:
[4417, 20165]

**Question 8**

In [22]:
# Parse experience using math logic
def parse_experience(val):
    if pd.isnull(val):
        return None
    val = str(val).strip()
    if val.startswith('<'):
        return float(val[1:]) - 0.1
    if val.startswith('>'):
        return float(val[1:]) + 0.1
    if '+' in val:
        return float(val.replace('+', '')) + 0.1
    if '-' in val:
        try:
            return float(val.split('-')[0])
        except:
            return None
    try:
        return float(val)
    except:
        return None

# Parse company size using math logic
def parse_company_size(val):
    if pd.isnull(val):
        return None
    val = str(val).strip()
    if re.match(r'^\d+\+$', val):
        return float(val.replace('+', '')) + 0.1
    elif re.match(r'^\d+-\d+$', val):
        try:
            return float(val.split('-')[0])
        except:
            return None
    else:
        return None  # Ignore malformed entries

# Apply parsing functions
df['experience_num'] = df['experience'].apply(parse_experience)
df['company_size_min'] = df['company_size'].apply(parse_company_size)

# Filter rows: Experience > 10 and Company_Size == 7 (i.e. >10000 employees)
filtered_df = df[
    (df['experience_num'] > 10) &
    (df['company_size_min'] > 7)
]

# Display results
print(filtered_df)

      enrollee_id      city  city_development_index gender  \
4           27724  city_103                   0.920   Male
15          24914   city_21                   0.624    NaN
24          23570  city_118                   0.722   Male
26           9548  city_114                   0.926   Male
34          28610   city_16                   0.910   Male
...           ...       ...                     ...    ...
2109        13962   city_36                   0.893   Male
2110        22744   city_24                   0.698    NaN
2114         6294   city_73                   0.754    NaN
2116        31643   city_75                   0.939   Male
2128        12215  city_102                   0.804   Male

          relevent_experience enrolled_university education_level  \
4     Has relevent experience       no_enrollment        Graduate
15    Has relevent experience    Full time course        Graduate
24    Has relevent experience       no_enrollment        Graduate
26    Has relevent experience       no_enrollment         Masters
34    Has relevent experience       no_enrollment         Masters
...                       ...                 ...             ...
2109  Has relevent experience       no_enrollment         Masters
2110  Has relevent experience       no_enrollment         Masters
2114  Has relevent experience       no_enrollment     High School
2116  Has relevent experience       no_enrollment     High School
2128  Has relevent experience       no_enrollment         Masters

     major_discipline experience company_size   company_type last_new_job  \
4                STEM        >20       10000+        Pvt Ltd           >4
15               STEM         13    1000-4999        Pvt Ltd            1
24               STEM         19      100-500        Pvt Ltd           >4
26               STEM        >20        50-99        Pvt Ltd           >4
34               STEM        >20        50-99        Pvt Ltd           >4
...               ...        ...          ...            ...          ...
2109       Humanities         20        50-99        Pvt Ltd            1
2110             STEM         15        50-99        Pvt Ltd           >4
2114              NaN        >20        50-99        Pvt Ltd            2
2116              NaN        >20      100-500  Public Sector            2
2128             STEM         15       10000+        Pvt Ltd            2

      training_hours  experience_num  company_size_min
4                 72            20.1           10000.1
15               125            13.0            1000.0
24                19            19.0             100.0
26                65            20.1              50.0
34                18            20.1              50.0
...              ...             ...               ...
2109              26            20.0              50.0
2110             157            15.0              50.0
2114              31            20.1              50.0
2116              58            20.1             100.0
2128              11            15.0           10000.1

[551 rows x 15 columns]

**Question 9**

In [29]:
# Parse 'experience' into numeric values
def parse_experience(val):
    if pd.isnull(val):
        return None
    val = str(val).strip()
    if val.startswith('<'):
        return float(val[1:]) - 0.1
    if val.startswith('>'):
        return float(val[1:]) + 0.1
    if '+' in val:
        return float(val.replace('+', '')) + 0.1
    if '-' in val:
        try:
            return float(val.split('-')[0])
        except:
            return None
    try:
        return float(val)
    except:
        return None

# Parse 'last_new_job' into numeric values
def parse_last_new_job(val):
    if pd.isnull(val):
        return None
    val = str(val).strip()
    if val == 'never':
        return 0
    if val.startswith('<'):
        return float(val[1:]) - 0.1
    if val.startswith('>'):
        return float(val[1:]) + 0.1
    try:
        return float(val)
    except:
        return None

# Apply parsing functions
df['experience_num'] = df['experience'].apply(parse_experience)
df['last_new_job_num'] = df['last_new_job'].apply(parse_last_new_job)

# Create the new feature
df['experience_gap'] = df['experience_num'] - df['last_new_job_num']

# Display the updated DataFrame for the first 20 only
print(df[['experience', 'last_new_job', 'experience_gap']].head(6))

  experience last_new_job  experience_gap
0          9            1             8.0
1          5            1             4.0
2         <1        never             0.9
3         11            1            10.0
4        >20           >4            16.0
5         10            2             8.0

**Question 10**

In [37]:
# Min-max normalization of city_development_index
df['city_development_index_normalized'] = (
    df['city_development_index'] - df['city_development_index'].min()
) / (
    df['city_development_index'].max() - df['city_development_index'].min()
)

# Display the first 10 rows of original and normalized city development index
print(" First 10 rows showing original and normalized city development index:")
print(df[['city_development_index', 'city_development_index_normalized']].head(10))

 First 10 rows showing original and normalized city development index:
   city_development_index  city_development_index_normalized
0                   0.827                           0.756487
1                   0.920                           0.942116
2                   0.624                           0.351297
3                   0.827                           0.756487
4                   0.920                           0.942116
5                   0.899                           0.900200
6                   0.624                           0.351297
7                   0.920                           0.942116
8                   0.878                           0.858283
9                   0.624                           0.351297

In [ ]:
# Display the top 10 cities with the highest normalized development index
df_sorted = df.sort_values(by='city_development_index_normalized', ascending=False)
print("\nðŸ”¹ Top 10 cities with the highest normalized development index:")
print(df_sorted[['city_development_index', 'city_development_index_normalized']].head(10))

ðŸ”¹ Top 10 cities with the highest normalized development index:
      city_development_index  city_development_index_normalized
747                    0.949                            1.00000
1004                   0.949                            1.00000
964                    0.949                            1.00000
628                    0.949                            1.00000
1775                   0.949                            1.00000
231                    0.949                            1.00000
1475                   0.949                            1.00000
1175                   0.949                            1.00000
13                     0.949                            1.00000
1686                   0.939                            0.98004

###  ***Why Normalization Matters***

**1. Equal feature influence:**  
Prevents features with large numeric ranges from dominating smaller-scaled ones in models like logistic regression or neural networks.

**2. Improved accuracy:**  
Algorithms that rely on distance such as k-Nearest Neighbors (k-NN) and k-Means clustering perform more effectively when all features are on a comparable scale.

**3. Faster training:**  
Optimization methods like gradient descent converge more efficiently when input features are normalized.

**Question 11**

In [38]:
# Create a new DataFrame with cdi_per as percentage
# Multiply by 100 to convert normalized index to percentage scale
cdi_df = df[['city_development_index']].copy()
cdi_df['cdi_per'] = cdi_df['city_development_index'] * 100

In [39]:
# Merge cdi_per back to the original DataFrame
# This keeps all rows aligned correctly
df_merged = pd.merge(df, cdi_df[['cdi_per']], left_index=True, right_index=True)

In [40]:
# Display summary statistics for cdi_per
print(" Summary of city development index percentage:")
print(df_merged['cdi_per'].describe())

 Summary of city development index percentage:
count    2129.000000
mean       82.498356
std        12.507398
min        44.800000
25%        69.800000
50%        90.300000
75%        92.000000
max        94.900000
Name: cdi_per, dtype: float64

In [41]:
# Show correlation between cdi_per and other numeric features
print("\n Correlation between cdi_per and other numeric features:")
print(df_merged.corr(numeric_only=True)['cdi_per'].sort_values(ascending=False))

 Correlation between cdi_per and other numeric features:
city_development_index               1.000000
cdi_per                              1.000000
city_development_index_normalized    1.000000
experience_num                       0.400532
experience_gap                       0.378821
last_new_job_num                     0.228300
company_size_min                     0.037946
training_hours                      -0.022653
enrollee_id                         -0.045087
Name: cdi_per, dtype: float64

In [42]:
# Display any random 10 distinct rows from the merged DataFrame
# This gives a diverse snapshot of city development index percentages
print("\n Random 10 distinct rows showing city development index and percentage:")
print(df_merged[['city_development_index', 'cdi_per']].drop_duplicates().sample(10))
#print(df_merged[['city_development_index', 'cdi_per']].drop_duplicates().sample(10, random_state=42))

 Random 10 distinct rows showing city development index and percentage:
      city_development_index  cdi_per
39                     0.897     89.7
382                    0.512     51.2
11                     0.698     69.8
1571                   0.640     64.0
293                    0.802     80.2
120                    0.915     91.5
43                     0.924     92.4
58                     0.923     92.3
294                    0.895     89.5
534                    0.664     66.4